# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environnement virtuel
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Donnees lourdes (a ne pas versionner)
data/raw/
data/chroma_db/
data/*.pdf

# Logs
logs/
!logs/.gitkeep

# Modeles (optionnel - decommenter si trop lourds)
# models/
